html {
  scroll-behavior: smooth;
  max-width: 100%;
  overflow-x: hidden;
  scroll-padding-top: 100px; /* Add padding for fixed navbar */
}
.gradient-text {
  background: linear-gradient(to right, #6cff52, #3ec5ff);
  -webkit-background-clip: text;
  color: transparent;
}
/* Styling untuk loading overlay */
#loader {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(8px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}
.hidden2 {
  display: none;
}

/* Pastikan pada breakpoint md, jika ada kelas md:flex atau md:block, maka tampilkan elemen */
@media (min-width: 768px) {
  .md\:flex.hidden2 {
    display: flex;
  }
  .md\:block.hidden2 {
    display: block;
  }
}
/* CSS untuk dropdown-menu */
#dropdown-menu {
  transition: all 0.3s ease-in-out;
  transform: translateY(-20px);
  opacity: 0;
  pointer-events: none;
}
/* Kelas tambahan "open" untuk state terbuka */
#dropdown-menu.open {
  transform: translateY(0);
  opacity: 1;
  pointer-events: auto;
}
.typed-cursor {
  color: #3ec5ff;
}
.height-transition {
  transition: height 0.3s ease;
}
/* Atur transisi untuk setiap konten tab */
.tab-content {
  transition: opacity 0.3s ease, transform 0.3s ease;
}
/* Tab yang disembunyikan: opacity 0, bergeser ke atas */
.tab-hide {
  opacity: 0;
  transform: translateY(-20px);
  pointer-events: none;
  position: absolute;
  width: 100%;
}
/* Tab yang ditampilkan: opacity 1, posisi normal */
.tab-show {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
  position: relative;
}
.vertical-divider {
  width: 2px; /* Lebar divider */
  height: 100px; /* Tinggi divider, sesuaikan dengan kebutuhan */
  background-color: white; /* Warna putih */
  margin: 0 10px; /* Jarak dari elemen di sekitarnya */
  justify-self: center; /* Posisi di tengah */
}
/* CSS untuk carousel */
#white-shadow {
  box-shadow: rgba(255, 255, 255, 0.2) 0px 20px 25px -15px,
    rgba(255, 255, 255, 0.2) 0px 10px 10px -5px;
}

::-webkit-scrollbar {
  width: 15px;
}
:-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(8px);
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(#6cff52, #3ec5ff);
  border-radius: 10px;
}
