.geser-keluar2 {
  animation: geserKeluar2 0.5s forwards;
}

@keyframes geserKeluar2 {
  from {
    transform: translateX(0);
    opacity: 1;
  }

  to {
    transform: translateX(-100%);
    opacity: 0;
  }
}

.geser-masuk2 {
  animation: geserMasuk2 0.5s forwards;
}

@keyframes geserMasuk2 {
  from {
    transform: translateX(100%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.tab-tertampil2 {
  display: block;
}

.tab-tersembunyi2 {
  display: none;
}

.tab-content {
  position: relative;
}